{% extends "base.html" %}
{% block title %} Search  {{ search_str }} in PAGES | EJU.ORG{% endblock %}
{% block breadcrumb %}Search{% endblock %}
{% block content %}
    <div class=catalog4>
        {% if urls_count == 0 %}
            Sorry, but search string not found!<br><br>
        {% endif %}
        {% for url in urls %}
            <div class=catalog5>
                {% if url.image %}
                    <a href="{{ url.url }}"><img class=catalog6 src="/media/{{ url.image }}" width=250 ></a>
                {% endif %}
                <h3 class="catalog3"><a href="{{ url.url }}">{{ url.title }}</a></h3>
                <p>{{ url.description|truncatechars:300 }}
                    <a href="{{ url.url }}" class=catalog7>{{ url.getUrl }}</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block categories_block %}
    <div id="category_menu" class="opened"><ul>
        {% for catname in categories %}
            {% if category_id == catname.id %}
                <li><a href="/category/{{ catname.id }}" class="active" >{{ catname }}</a></li>
            {% else %}
                <li><a href="/category/{{ catname.id }}">{{ catname }}</a></li>
            {% endif %}
        {% endfor %}
    </ul></div>
{% endblock %}